/* Animation styles*/

@keyframes line-appear{
    from {background-color: #e6e4e4; border: 1px solid #e6e4e4;}
    to {background-color: #5cb6b7; border: 1px solid #5cb6b7;}
}
@keyframes separator-appear{
    from {background-color: #e6e4e4; box-shadow:none; color: #e6e4e4;}
    to {background-color: #9d9da7; box-shadow: 0 0 15px white;color: white;}
}
@keyframes message-prl-appear{
    from {background: transparent;}
    to {background: url("..//img/product\ launched.png") no-repeat;}
}
@keyframes message-fe-appear{
    from {background: transparent;}
    to {background: url("..//img/first\ employee\ with\ logo.png") no-repeat;background-size: cover;}
}
@keyframes message-ft2l-appear{
    from {background: transparent;}
    to {background: url("..//img/from\ Twitter\ 3\ with\ tw.png") no-repeat; background-size: cover;}
}
@keyframes message-ft1l-appear{
    from {background: transparent;}
    to {background: url("..//img/from\ Twitter\ 2\ with\ tw.png") no-repeat; background-size: cover;}
}
@keyframes message-ft1r-appear{
    from {background: transparent;}
    to {background: url("..//img/from\ Twitter\ 1\ with\ tw.png") no-repeat; background-size: cover;}
}
@keyframes message-mj-appear{
    from {background: transparent;}
    to {background: url("..//img/Mattew.png") no-repeat; background-size: cover;}
}
 
@keyframes message-pa-appear{
    from {background: transparent;}
    to {background: url("..//img/premium\ acc\ with\ logo.png") no-repeat; background-size: cover;}
}
@keyframes h6-h5-appear{
    from {color: transparent}
    to {color:#514d4d }
}
@keyframes p-appear{
    from {color: transparent}
    to {color:#9d9da7 }
}
@keyframes p-link-appear{
    from {color: transparent}
    to {color:#5cb6b7 }
}
.launch_message_animation{
    animation: message-prl-appear 1s forwards;
    animation-delay: 0s;
}
.launch_message_h6_animation{
    animation: h6-h5-appear 1s forwards;
    animation-delay: 0.2s;
}
.launch_message_p_animation{
    animation: p-appear 1s forwards;
    animation-delay: 0.2s;
    padding-bottom:15px;
}
.launch_animation{
    animation: separator-appear 0.5s forwards;
    animation-delay: 0s;
}
.line_animation{
    animation: line-appear 0.5s forwards;
    width: 1px;
}
.line8{
    height: 200px;
    animation-delay: 0.5s;   
}
.message_from_Twitter2_left{
    animation:  message-ft2l-appear 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
}
.h5_1_animation{
    animation: h6-h5-appear 0.5s ease forwards;
    animation-delay: 1s;
}   
.p_1_animation{
    animation: p-appear 1s ease forwards;
    animation-delay: 1s;
}
.p_1_link_animation{
    animation: p-link-appear 0.5s ease forwards;
    animation-delay: 1s;
}
.dot_animation_1{
    animation: line-appear 0.5s ease forwards;
    animation-delay: 0.7s;
}
.date1_animation{
    animation: p-appear 0.5s forwards;
    animation-delay: 0.7s;
}
.line7{
    height: 110px;
    animation-delay: 1s; 
}
.dot_animation_2{
    animation: line-appear 0.5s  forwards;
    animation-delay: 1.2s;
}
.date2_animation{
    animation: p-appear 0.5s  forwards;
    animation-delay: 1.3s;
}
.message_Hired_First_Employee{
    animation: message-fe-appear 0.5s ease-in-out forwards;
    animation-delay: 1.5s;
}
.h5_2_animation{
    animation: h6-h5-appear 0.5s  forwards;
    animation-delay: 1.5s;
}
.p_2_animation{
    animation: p-appear 0.5s  forwards;
    animation-delay: 1.5s;
}
.line6{
    height: 120px;
    animation-delay: 1.7s;
}
.dot_animation_3{
    animation: line-appear 0.5s  forwards;
    animation-delay: 2s;
}
.date3_animation{
    animation: p-appear 0.5s  forwards;
    animation-delay: 2s;
}
.h5_3_animation{
    animation: h6-h5-appear 0.5s  forwards;
    animation-delay: 2.2s;
}
.p_3_animation{
    animation: p-appear 0.5s  forwards;
    animation-delay: 2.2s;
}
.message_from_Twitter1_left{
    animation: message-ft1l-appear 0.5s ease-in-out forwards;
    animation-delay: 2s;
}
.line5{
    height: 110px;
    animation-delay: 2.5s;
}
.dot_animation_4{
    animation: line-appear 0.5s  forwards;
    animation-delay: 2.7s;
}
.date4_animation{
    animation: p-appear 0.5s  forwards;
    animation-delay: 2.7s;
}
.h5_4_animation{
    animation: h6-h5-appear 0.5s  forwards;
    animation-delay: 3s;
}
.p_4_animation{
    animation: p-appear 0.5s  forwards;
    animation-delay: 3s;
}
.message_from_Twitter1_right{
    animation: message-ft1r-appear 0.5s  ease-in-out forwards;
    animation-delay: 2.5s;
}
.line4{
    height: 50px;
    animation-delay: 3.3s;
}
.separator_2014_animation{
    animation: separator-appear 0.5s  ease-in-out forwards;
    animation-delay: 3.5s;
}
.line3{
    height: 60px;
    animation-delay: 3.7s;
}
.dot_animation_5{
    animation: line-appear 0.5s  forwards;
    animation-delay: 3.8s;
}
.date5_animation{
    animation: p-appear 0.5s forwards;
    animation-delay: 3.8s;
}
.h5_5_animation{
    animation: h6-h5-appear 0.5s forwards;
    animation-delay: 3.8s;
}
.p_5_animation{
    animation: p-appear 0.5s forwards;
    animation-delay: 3.8s;
}
.Mathew_Joined{
    animation: message-mj-appear 0.5s forwards;
    animation-delay: 3.8s;
}
.line2{
    height: 105px;
    animation-delay: 4s;
}
.dot_animation_6{
    animation: line-appear 0.5s forwards;
    animation-delay: 4.5s;
}
.date6_animation{
    animation: p-appear 0.5s forwards;
    animation-delay: 4.5s;
}
.h5_6_animation{
    animation: h6-h5-appear 0.5s forwards;
    animation-delay: 4.5s;
}
.p_6_animation{
    animation: p-appear 0.5s forwards;
    animation-delay: 4.5s;
}
.Premium_Account{
    animation: message-pa-appear 0.5s forwards;
    animation-delay: 4.5s;
}
.line1{
    height: 95px;
    animation-delay: 4.7s;
    
}
.now_animation{
    animation: separator-appear 0.5s forwards;
    animation-delay: 5s;
}

/* End of Animation styles*/