@import url("animation.css"); /* Animation styles

/* Base layer styles*/

*{
    font-family: Arial, Helvetica, sans-serif;
    color:#514d4d;
    animation-iteration-count: 1;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e4e4;
    padding-bottom: 20px;
}
p{
    color: transparent;
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-top:5px;
    margin-top: 0px;
}
h1,h6,h5{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h6{
    font-size: 15px;
    font-weight: 100;
    color: transparent;
    margin-bottom: 10px;
}
h5{
    color: transparent;
}
.link{
    color:transparent;
}



/* Project layer styles*/

.align_right{
    text-align: right;
}
.align_left{
    text-align: left;
}
.subheader{
    color:#9d9da7;
    font-size:20px;
    text-align: center;
}
.timeline, .timeline__section2014__center,.timeline__section2013__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeline{
    margin-top:20px;
    width:91vw;
}
.date{
    font-size: 12px;
}
.separator{
    width:100px;
    height:35px;
    margin: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
}

.timeline__section2014, .timeline__section2013{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section2014_height{
    height:290px;
}
.section2013_height{
    height:630px;
}
.timeline_date, .timeline-message{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.timeline__section2014__left, .timeline__section2013__left{
    width:45vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right:7px; 
}
.timeline__section2014__center, .timeline__section2013__center{
    width:1vw;
}
.timeline__section2014__right, .timeline__section2013__right{
    width:45vw;
    display: flex;
    flex-direction: column;
    padding-left:7px;   
}
.dot{
    background-color: #e6e4e4;
    border: 1px solid #e6e4e4;
    width:5px;
    height: 5px;
    border-radius: 5px;
    margin:2px;
}
.message-right{
    display: flex;
    justify-content: flex-start; 
}
.message-left__inner{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right:60px;
    padding-left:15px;
    padding-bottom: 10px;
}
.message-right__inner{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left:65px;
    padding-right:15px;
    padding-bottom: 10px;
}
.launch-message{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width:360px;
    height:88px; 
}



/* Cosmetic layer styles*/

.Mathew_Joined{
    width:310px;
    height:80px;
    margin-top:63px;
}
.Premium_Account{
    width:340px;
    height:80px;
    margin-top: 65px;
}
.message_from_Twitter1_left{
    width:330px;
    height:100px;
    margin-top:70px;
}
.message_from_Twitter2_left{
    width:375px;
    height:110px;
    margin-top:70px;
}
.message_from_Twitter1_right{
    width:355px;
    height:90px;
    margin-top:18px;
}
.message_Hired_First_Employee{
    width:300px;
    height:90px;
    margin-top:78px;
}

.date_18Feb2014{
    display: flex;
    justify-content: flex-end;
    margin-top:92px;
}
.date_02Jun2014{
    display: flex;
    justify-content: flex-start;
    margin-top: 63px;
}
.date_28Dec2013{
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
}
.date_16Dec2013{
    display: flex;
    justify-content: flex-end;
    margin-top: 58px;
}
.date_20Dec2013{
    display: flex;
    justify-content: flex-start;
    margin-top: 57px;
}
.date_02Dec2013{
    display: flex;
    justify-content: flex-start;
    margin-top: 58px;
}
